* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    /* overflow: hidden; */
    height: 100vh;
    background-color: black;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.hero {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
}